.users-list-container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap; 
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    word-break: break-word; 
}

th {
    position: relative;
}

th:hover {
    background-color: #151819;
}

th svg {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    margin: 0 5px;
}

.pagination button {
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #f2f2f2;
}

.pagination li.active button {
    background-color: #007bff;
    color: #fff;
}

.blurclass{
    width: 200vh;
    height: 100vh;
}


.edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .edit-modal h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .edit-modal div {
    margin-bottom: 10px;
  }
  
  .edit-modal label {
    font-weight: bold;
  }
  
  .edit-modal input,
  .edit-modal select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-modal button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-modal button:hover {
    background-color: #0056b3;
  }

  .details-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .details-modal h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .details-modal div {
    margin-bottom: 10px;
  }
  
  .details-modal label {
    font-weight: bold;
  }
  
  .details-modal input,
  .details-modal select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .details-modal button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .details-modal button:hover {
    background-color: #0056b3;
  }

  .delete-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .delete-modal h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .delete-modal div {
    margin-bottom: 10px;
  }
  
  .delete-modal label {
    font-weight: bold;
  }
  
  .delete-modal input,
  .delete-modal select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .delete-modal button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-modal button:hover {
    background-color: #0056b3;
  }
  

@media screen and (max-width: 768px) {
    .users-list-container {
        overflow-x: auto;
    }
    
    table {
        width: 100%;
    }
    
    th, td {
        padding: 8px;
    }
    
    .pagination {
        margin-top: 10px;
    }
    
    .pagination button {
        padding: 4px 8px;
    }
}
